body
{
background:#E1F0F9;
color: #333;
text-align: center;
margin: 0;
padding: 0;
}

.Login{}

.Login-content
{
  background: white;
  box shadow: 0px 2px 20px 0px rgba(0,0,0,0,5);
  color: #344A55;
  font-family: "helvetica";
  font-weight: lighter;
  margin: 0;
  width: 32%;
  border: 2.5px solid #9E9E92;
  border-radius: 10px;
  margin: 1.5% auto;
  padding: 0em 0 0.5em 0em;
}

.Login-content-title
{
  font-size: 22px;
  text-align: center;
}
.Login-content-field
{
  font-size: 17px;
  text-align: left;
  padding-left: 1.5em;
  padding-bottom: 5px;
}

button
{
  padding: 3px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 15.5px;
  font-family: "helvetica";
  font-weight: lighter;
  background-color: #B4DFFC;
  color: #344A55;
  border: 1.9px solid #9E9E92;
  border-radius: 2.5px;
  align-items:;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
         -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.Login-content-pass
{
  font-size: 15px;
  color:#A2B0B7;
  padding-bottom: 15px;
  padding-top: 10px;
}

.Login-signUp
{
  background: white;
  color: #344A55;
  font-size: 15.5px;
  font-family: "helvetica";
  font-weight: lighter;
  margin: 0;
  width: 32%;
  border: 2.5px solid #9E9E92;
  border-radius: 10px;
  margin: 1.5% auto;
  padding: 0em 0 0.5em 0em;
  padding-bottom: 20px;
  padding-top: 20px;
}
.Login-signUp p1
{
  color:#A2B0B7;
}
.login-signUp-IS
{
  padding-top: 10px;
}

#signUp-button-style
{
  padding: 4.7px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15.5px;
  font-family: "helvetica";
  font-weight: lighter;
  background-color: #B4DFFC;
  color: #344A55;
  border: 1.9px solid #9E9E92;
  border-radius: 2.5px;
  align-items:;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  width: 100px
}

.Login-signUp-Usuario
{
display: flex;
justify-content: center;
}

.Login-signUp-Usuario a
{
padding: 4px;
padding-left: 10px;
}

.Login-description
{
  background:#E1F0F9 ;
  color: #344A55;
  font-size: 18px;
  font-family: "helvetica";
  font-weight: lighter;
  width: 32%;
  margin: 1.5% auto;
  padding: 0em 0 0.5em 0em;
  padding-bottom: 15px;
  text-align: justify;
}
.Login-description-subtitle
{
  font-size: 27px;
}
.Login-description-logo
{
  text-align:center;
}

.Login-footer
{
  background: white;
  color: #344A55;
  font-family: "helvetica";
  font-weight: lighter;
  text-align: left;
  padding-left: 10px;
  padding-top: 1.5px;
  padding-bottom: 53px;
  height: 0px;
}
#instagram
{
  padding-bottom: 5px;
}
